/Sesion3_1/nbproject/private/
/Sesion3_1/build/
/Sesion3_2/nbproject/private/
/Sesion4_1/nbproject/private/
/Sesion4_1/build/
/ExampleProfesors/nbproject/private/
/ExampleProfesors/build/
/ExercicisHibernate/nbproject/private/
/ExercicisHibernate/build/
/JavaHibernateHQL/nbproject/private/
/JavaHibernateHQL/build/
/WebApplication1/nbproject/private/
/JavaHibernateParametros/nbproject/private/
/JavaHibernateParametros/build/
/HibernateValidaciones/nbproject/private/
/HibernateValidaciones/build/